   <footer class="footer" id="footer" >
      <div class="footer-container">
         <address class="communicat">
            <div class="phone">
              <a class="communicat-phone" href="tel:+380442057337">+38(044)2057337"</a>
              <span class="footer-phone">безкоштовна горяча лінія</span>
            </div>
            <div class="email">
              <a class="communicat-email" href="mailto:publicinfo@kyivcity.gov.ua"
                >електронна пошта : publicinfo@kyivcity.gov.ua
              </a>
                <p class="footer-address">
                  м. Київ,
                  Бульвар Лесі Українки, <span class="address-span">буд. 26,
                  4й поверх офіс 427</span>
                </p>
            </div>
          </address>

         <!-- Додаткові посилання -->

        <ul class="footer-list-links">
          <li class="footer-item-links">
            <a href="./privacy-policy.html">Політика конфіденційності</a>
          </li>
          <li class="footer-item-links">
            <a href="./terms-of-use.html">Условия использования</a>
          </li>
          <li class="footer-item-links">
            <a href="./faq.html">FAQ</a>
          </li>
          <li class="footer-item-links">
            <a href="./sitemap.html">Карта сайта</a>
          </li>

        </ul>

       <!-- Дрібний текст / нотатки -->
          <div class="wrapper-copyright-notes">
        <div class="footer-notes">
          <p class="footer-notes-paragraph"> Всі торгові марки належать їх власникам. Дизайн сайту відповідає сучасним стандартам.</p>
        </div>

         <!-- Авторські права -->

        <div class="footer-copyright">
          <p class="footer-copyright-paragraph">© 2026 Company Name. Всі права захищені.</p>
        </div>

        </div>
      </div>
    </footer>