<div class="mobile-menu" data-menu>
  <button class="close-btn" aria-label="Закрити меню">✕</button>

  <nav class="mobile-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link-item" href="https://kyivcity.gov.ua/">Са<span class="link-span">йт вла</span>ди</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#organy-vlady">Адреса влади</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map-city">Карта міста</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map-metro">Карта метро</a>
      </li>
    </ul>
  </nav>
</div>