<!-- monuments -->
<section class="monuments">
  <h3 class="monuments-places">Цікаві місця</h3>
  <div class="container">
    <ul class="monuments-list">
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/софіівскій собор.jpg" alt="софіівскій собор" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/sofiy fresca.jpg" width="357px" height="297px" alt="fresca">
          </div>
        </div>
        <h3 class="monuments-subtitle">Софіївський собор</h3>
        <p class="monuments-text">Собор ХІ століття в Києві.</p>
        <p class="description">
          Фрески Софійського собору XI століття поєднують духовне та світське. Релігійні сюжети (Христос, апостоли,
          «Благовіщення») сусідять із унікальними світськими сценами: полюванням, виступами скоморохів та акробатів.
          Центральне місце посідає портрет родини Ярослава Мудрого. Це величне поєднання візантійського стилю та княжої
          історії, що зберігає атмосферу давньої Русі-України.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/київо-печерска лавра.jpg" alt="Києво-Печерська лавра" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/large-142866634210-imgp0108 (1).jpg" width="357" height="297" alt="собор">
          </div>
        </div>
        <h3 class="monuments-subtitle">Києво-Печерська лавра</h3>
        <p class="monuments-text">Перший монастир на території сучасної України.</p>
        <p class="description">
          Києво-Печерська лавра — це найдавніша православна святиня України, заснована 1051 року. Її структура включає
          Верхню лавру з величним Успенським собором та Нижню лавру з мережею підземних печер.
          Унікальність пам'ятки полягає у збереженні нетлінних мощей святих та унікальній архітектурі «українського
          бароко». Лавра є об'єктом Світової спадщини ЮНЕСКО та символом духовності.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/успенський собор.jpg" alt="Успенський собор" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/успенскій собор2 (3).jpg" width="357" height="297" alt="собор">
          </div>
        </div>
        <h3 class="monuments-subtitle">Успенський собор</h3>
        <p class="monuments-text">Головний соборний храм Києво-Печерської лаври.</p>
        <p class="description">
          Успенський собор Києво-Печерської лаври — велична пам'ятка XI століття, збудована у 1073–1078 роках. Це перший
          мурований храм монастиря, що став взірцем для давньоруського зодчества. Його цінність — в унікальних розписах,
          бароковій архітектурі та статусі головної святині лаври. Попри руйнування 1941 року, собор відроджено як
          символ незламності духовної спадщини України.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/володимирска горка.jpg" alt="володимирска горка" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/володгірка.jpg" width="357" height="297" alt="горка">
          </div>
        </div>
        <h3 class="monuments-subtitle">Володимирська гірка</h3>
        <p class="monuments-text">
          Височина над правим берегом Дніпра. Парк-пам'ятка
          садово-паркового мистецтва місцевого значення.
        </p>
        <p class="description">
          Володимирська гірка — мальовничий парк у центрі Києва, заснований у XIX столітті на місці виноградників
          Михайлівського монастиря. Його головна цінність — найстаріший у столиці пам'ятник князю Володимиру (1853) та
          панорамні краєвиди на Дніпро. Особливістю є унікальний ландшафт із терасами, Кокорівська альтанка та сучасний
          «скляний» міст.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/андреевскій узвоз.jpg" alt="андріівский узвоз" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/Andrew-uzvoz.jpg" width="357" height="297" alt="вілиці" />
          </div>
        </div>

        <h3 class="monuments-subtitle">Андріївський узвіз</h3>
        <p class="monuments-text">
          Вулиця в Подільському районі, що сполучає Поділ зі старим
          Києвом.
        </p>
        <p class="description">
          Андріївський узвіз — легендарна вулиця-музей, що з’єднує Верхнє місто з Подолом. Перші згадки про шлях між
          пагорбами сягають часів Київської Русі. Особливість узвозу — його неповторний рельєф, Андріївська церква та
          «Замок Річарда». Цінність полягає в особливій мистецькій атмосфері, численних галереях і театрах, що роблять
          його «київським Монмартром».

        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/пейзажна алея.jpg" alt="пейзажна алея" width="357" height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/пейзалея2.jpg" width="357" height="297" alt="алея" />
          </div>
        </div>

        <h3 class="monuments-subtitle">Пейзажна алея</h3>
        <p class="monuments-text">
          Зона відпочинку, схована у дворах центрального району міста.
        </p>
        <p class="description">
          Пейзажна алея — креативний простір, створений у 1980-х роках на стародавніх валах. Її цінність — у поєднанні
          панорам Подолу та унікальних мозаїк. Тут розташовані відомі скульптури: кіт-стоніжка, фонтани-слоники,
          закохані зебри, дівчинка на подушках та Маленький принц. Це місце є символом сучасного мистецтва, що оберігає
          історичне обличчя Києва.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/воздвіженка.jpg" alt="воздвіженка" width="357" height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/воздвиж2 (1).jpg" width="357" height="297" alt="вулиця">
          </div>
        </div>

        <h3 class="monuments-subtitle">Воздвиженка</h3>
        <p class="monuments-text">
          Житловий район побудований у 2000 роках на Кожум'яках. Вулиці
          гончарів і ремесленників.
        </p>
        <p class="description">
          Воздвиженка — елітний мікрорайон у центрі Києва, розташований в урочищі Гончарі-Кожум'яки. Його назва походить
          від Хрестовоздвиженської церкви, зведеної у XVIII столітті. Місцевість відома з часів Київської Русі як
          ремісниче поселення. Сучасна цінність — у «казковій» архітектурі в стилі бароко та модерну. Особливістю є
          яскраві різнокольорові будинки та затишна європейська атмосфера.

        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/хімери.jpg" alt="будинок с хімерами" width="357" height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/хімера2.jpg" width="357" height="297" alt="хімери внутрі">
          </div>
        </div>

        <h3 class="monuments-subtitle">Будинок з хімерами</h3>

        <p class="monuments-text">
          Цегляна будівля. Свою назву отримала завдяки скульптурам тварин.
        </p>
        <p class="description">
          Будинок з химерами — шедевр модерну, зведений у 1901–1903 роках архітектором Владиславом Городецьким.
          Особливість будівлі — унікальні бетонні скульптури тварин та міфічних істот роботи Еліо Саля. Такий вигляд був
          рекламним ходом для нового матеріалу — цементу, а також відображав мисливське хобі власника.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/миколаєвский костел.jpg" alt="костел св. николая" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/костел.jpg" width="357" height="297" alt="св. николай собор">
          </div>
        </div>

        <h3 class="monuments-subtitle">Костел Святого Миколая</h3>
        <p class="monuments-text">
          Костел побудованний у 1899-1909 роках архітектором Владиславом
          Городецьким.
        </p>
        <p class="description">
          Костел Святого Миколая — неоготичний шедевр Владислава Городецького (1909). Його особливість — стрімкі вежі та
          бетонне оздоблення, що ідеально доповнювалося величним органом фірми Rieger-Kloss. Цінність храму полягала в
          поєднанні містичної архітектури та досконалої акустики. На жаль, у 2021 році інструмент згорів, але костел
          залишається символом незламної духовності та мистецтва.

        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/the-city-of-kyiv--current-version/img/новий бот сад.jpg" alt="новий ботаніческий сад" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/the-city-of-kyiv--current-version/img/2 новий бот сад.jpg" width="357" height="297" alt="сад">
          </div>
        </div>

        <h3 class="monuments-subtitle">Новий ботанічний сад</h3>

        <p class="monuments-text">Місто відпочинку киян.</p>
        <p class="description">
          Національний ботанічний сад імені М. М. Гришка («новий») заснований у 1935 році за ініціативи Володимира
          Вернадського. Його особливість — величезна територія на історичному Звіринці з унікальним садом бузку
          (сирінгарієм). Цінність полягає у збереженні рідкісних рослин з усього світу та статусі провідної наукової
          установи України.
        </p>
      </li>
    </ul>
  </div>
</section>