<div class="modal" id="question-modal">
  <div class="modal-content">
    <button class="modal-close" type="button">×</button>
    <form id="question-form" novalidate class="question-form" action="#" method="post">
      <p class="form-hint">Для зворотнього зв'язку залиште свій телефон або email</p>

      <label for="question-text">Ваше питання</label>
      <textarea id="question-text" name="question" ></textarea>

      <label for="contact">Телефон або email</label>
      <input type="text" id="contact" name="contact" placeholder="Наприклад: email@example.com">

      <button class="btn-title" type="submit">надіслати</button>
      <p class="form-status"></p>
    </form>
  </div>
</div>
