  <section class="coordinates">
        <div class="container">
          <h2 class="coordinates-power" id="органивлади">Органи влади</h2>
          <p class="coordinates-street">
            Адреса: вулиця Хрещатик, 36, Київ, 01044
          </p>
          <div class="tumb">
            <h2 class="coordinates-map" id="map-city">Карта міста</h2>
            <a class="map-link" href="https://map.meta.ua/ua/kiev/#zoom=13&lat=50.40012&lon=30.53193&base=B00"
              ><img
                class="coordinates-link"
                src="img/картакиїв.jpg"
                alt="карта город"

            /></a>

            <h2 class="coordinates-map" id="map-metro">Карта метро</h2>
            <a class="map-link" href="#" data-large="img/metro-next-4.jpeg"
              ><img
                class="coordinates-link"
                src="img/metro-next.jpg"
                alt="карта метро"

            /></a>
          </div>
        </div>
      </section>

