   <footer class="footer" >
      <div class="footer-container">
        <img
          class="footer-logo"
          src="img/kyiv-png.png"
          width="70"
          height="90"
          alt="logo kyiv"  />

          <address class="communicat">
        <div class="phone">
            <a class="communicat-phone" href="tel:+14251234563">+1(425) 123-45-63"</a>
            <span class="footer-phone">безкоштовна горяча лінія</span>
        </div>
        <div class="email">
            <a class="communicat-email" href="mailto:example@mail.pig"
              >електронна пошта : example@mail.pig</a>
              <p class="footer-address">
                м. Київ,
                Бульвар Лесі Українки, буд. 26,
                4й поверх офіс 427
              </p>
        </div>
        </address>


        <ul class="social-list">
          <li class="social-item">
            <a class="social-link" href="https://www.instagram.com/"
             target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram">
            <svg class="social-icons" width="24" height="24">
              <use href="/img/symbol-defs-two.svg#icon-instagram"></use>
            </svg>
          </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="https://www.facebook.com/"
             target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook">
            <svg class="social-icons" width="24" height="24">
              <use href="img/symbol-defs-two.svg#icon-facebook"></use>
            </svg></a>
          </li>
          <li class="social-item">
            <a class="social-link" href="https://twitter.com/"
                target="_blank"
      rel="noopener noreferrer"
      aria-label="Twitter">
            <svg class="social-icons" width="24" height="24">
              <use href="img/symbol-defs-two.svg#icon-twitter"></use>
            </svg></a>
          </li>

        </ul>
         <!-- Додаткові посилання -->
    <ul class="footer-links">
      <li><a href="./privacy-policy.html">Політика конфіденційності</a></li>
      <li><a href="./terms-of-service.html">Условия использования</a></li>
      <li><a href="./faq.html">FAQ</a></li>
      <li><a href="./sitemap.html">Карта сайта</a></li>
    </ul>
       <!-- Авторські права -->
    <div class="footer-copyright">
      © 2026 Company Name. Всі права захищені.
    </div>
      <!-- Дрібний текст / нотатки -->
    <div class="footer-notes">
      Всі торгові марки належать їх власникам. Дизайн сайту відповідає сучасним стандартам.
    </div>
      </div>
    </footer>