<header class="pade-heder">
  <div class="container">
    <div class="wrapper-general">
      <nav class="heder-nav">
        <a class="logo-link" href="#"><img class="logo-img" src="/img/kyiv-png.png" width="70" height="90"
            alt="logo kyiv" /> </a>

        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link-item" href="https://kyivcity.gov.ua/">Са<span class="link-span">йт вла</span>ди</a>
          </li>
          <li class="nav-item">
            <a class="nav-link current" href="#organy-vlady">Адреса влади</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#map-city">Карта міста</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#map-metro">Карта метро</a>
          </li>
        </ul>
        <span class="active-line"></span>
      </nav>

      <div class="wrapper-contacts">
        <address class="contacts">
          <ul class="contacts-list">
            <li class="item-phone">
              <a class="contacts-link" href="tel:+380442057337">+380442057337</a>
            </li>
            <li class="item-mail">
              <a class="contacts-link" href="publicinfo@kyivcity.gov.ua">publicinfo@kyivcity.gov.ua</a>
            </li>
          </ul>
        </address>


        <div class="wrapper-icon">
          <button class="burger-btn">
            <svg class="nav-stroke" width="42" height="32">
              <use href="/img/symbol-defs.svg#burger"></use>
            </svg>
          </button>
          <ul class="header-social">
            <li class="header-social-item">
              <a href="https://www.instagram.com/kyivcity.gov.ua/" target="_blank" rel="noopener noreferrer"
                class="social-link" aria-label="Instagram КМДА">

                <svg class="icon-social" width="16" height="16">
                  <use href="/img/symbol-defs-two.svg#icon-instagram"></use>
                </svg>

              </a>
            </li>
            <li class="header-social-item">

              <a href="https://www.facebook.com/kyivcity.gov.ua" target="_blank" rel="noopener noreferrer"
                class="social-link">
                <svg class="icon-social" width="16" height="16">
                  <use href="/img/symbol-defs-two.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-item">

              <a href="https://twitter.com/KyivCityGovUA" target="_blank" rel="noopener noreferrer" class="social-link">
                <svg class="icon-social" width="16" height="16">
                  <use href="/img/symbol-defs-two.svg#icon-twitter"></use>
                </svg></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>