     <!-- кнопка фіксована до низу вьюпорта -->
      <form >
      <button type="submit"  class="button-gat">Зв'язок з оператором</button>
  </form>

    <!-- hero -->
      <section class="hero-city">
        <div class="container chero-page">
           <h1 class="title">Столиця вільних людей</h1>
           <div class="wrapper">
            <img
                class="symbol"
                src="./img/герб.jpg"
                width="50" height="60"
                alt="герб страни"/>

              <form>
                <button class="bnt-title" type="submit">задай запитaння</button>
              </form>
            </div>
        </div>
      </section>