     <!-- кнопка фіксована до низу вьюпорта -->
      <form >
      <button type="submit"  class="button-gat">Зв'язок з оператором</button>
  </form>

    <!-- hero -->
      <section class="hero-city">
        <div class="container chero-page">
           <h1 class="title">Столиця вільних людей</h1>
           <div class="wrapper">
            <img
                class="symbol"
                src="/img/герб.jpg"
                width="50" height="60"
                alt="герб страни"/>

              <form class="question-form" action="#" method="post">
                  <label for="question-text">Ваше питання </label>
                    <textarea id="question-text" name="question" required></textarea>

                  <button class="btn-title" type="submit">надіслати</button>
                   <p class="form-status"></p>
              </form>
              <button  id="open-question" class="btn-title" type="button">Задай питання</button>
            </div>
        </div>
      </section>