     <!-- кнопка фіксована до низу вьюпорта -->
      <form >
        <button type="button" class="button-gat">
          <svg class="arrow" width="24" height="24" viewBox="0 0 32 32">
            <path fill="blue" d="M27.414 12.586l-10-10c-0.781-0.781-2.047-0.781-2.828 0l-10 10c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l6.586-6.586v19.172c0 1.105 0.895 2 2 2s2-0.895 2-2v-19.172l6.586 6.586c0.39 0.39 0.902 0.586 1.414 0.586s1.024-0.195 1.414-0.586c0.781-0.781 0.781-2.047 0-2.828z"></path>
          </svg>
        </button>
      </form>

    <!-- hero -->
      <section class="hero-city">
        <div class="container chero-page">
           <h1 class="title">Столиця вільних людей</h1>
           <div class="wrapper">
            <img
                class="symbol"
                src="/img/герб.jpg"
                width="50" height="60"
                alt="герб страни"/>
              <button id="open-question" class="btn-title"            type="button">Задай питання
              </button>


            </div>
        </div>
      </section>