<!-- monuments -->
<section class="monuments">
  <h3 class="monuments-places">Цікаві місця</h3>
  <div class="container">
    <ul class="monuments-list">
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/софіівскій собор.jpg" alt="софіівскій собор" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/img/sofiy fresca.jpg" width="357px" height="297px" alt="fresca">
          </div>
        </div>
        <h3 class="monuments-subtitle">Софіївський собор</h3>
        <p class="monuments-text">Собор ХІ століття в Києві.</p>
        <p class="description">
          Фрески Софійського собору XI століття поєднують духовне та світське. Релігійні сюжети (Христос, апостоли,
          «Благовіщення») сусідять із унікальними світськими сценами: полюванням, виступами скоморохів та акробатів.
          Центральне місце посідає портрет родини Ярослава Мудрого. Це величне поєднання візантійського стилю та княжої
          історії, що зберігає атмосферу давньої Русі-України.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/київо-печерска лавра.jpg" alt="Києво-Печерська лавра" width="357"
            height="297" />
          <div class="overlay js-overlay">
            <img src="/img/large-142866634210-imgp0108 (1).jpg" width="357" height="297" alt="собор">
          </div>
        </div>
        <h3 class="monuments-subtitle">Києво-Печерська лавра</h3>
        <p class="monuments-text">Перший монастир на території сучасної України.</p>
        <p class="description">
          Києво-Печерська лавра — це найдавніша православна святиня України, заснована 1051 року. Її структура включає
          Верхню лавру з величним Успенським собором та Нижню лавру з мережею підземних печер.
          Унікальність пам'ятки полягає у збереженні нетлінних мощей святих та унікальній архітектурі «українського
          бароко». Лавра є об'єктом Світової спадщини ЮНЕСКО та символом духовності.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/успенський собор.jpg" alt="Успенський собор" width="357"
            height="297" />
          <div class="overlay">
            <img src="/img/успенскій собор2 (3).jpg" width="357" height="297" alt="собор">
          </div>
        </div>
        <h3 class="monuments-subtitle">Успенський собор</h3>
        <p class="monuments-text">Головний соборний храм Києво-Печерської лаври.</p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/володимирска горка.jpg" alt="володимирска горка" width="357"
            height="297" />
          <div class="overlay">
            <img src="/img/володгірка.jpg" width="357" height="297" alt="горка">
          </div>
        </div>
        <h3 class="monuments-subtitle">Володимирська гірка</h3>
        <p class="monuments-text">
          Височина над правим берегом Дніпра. Парк-пам'ятка
          садово-паркового мистецтва місцевого значення.
        </p>
      </li>
      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/андреевскій узвоз.jpg" alt="андріівский узвоз" width="357"
            height="297" />
          <div class="overlay">
            <img src="/img/Andrew-uzvoz.jpg" width="357" height="297" alt="вілиці" />
          </div>
        </div>

        <h3 class="monuments-subtitle">Андріївський узвіз</h3>
        <p class="monuments-text">
          Вулиця в Подільському районі, що сполучає Поділ зі старим
          Києвом.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/пейзажна алея.jpg" alt="пейзажна алея" width="357" height="297" />
          <div class="overlay">
            <img src="/img/пейзалея2.jpg" width="357" height="297" alt="алея" />
          </div>
        </div>

        <h3 class="monuments-subtitle">Пейзажна алея</h3>
        <p class="monuments-text">
          Зона відпочинку, схована у дворах центрального району міста.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/воздвіженка.jpg" alt="воздвіженка" width="357" height="297" />
          <div class="overlay">
            <img src="/img/воздвиж2 (1).jpg" width="357" height="297" alt="вулиця">
          </div>
        </div>

        <h3 class="monuments-subtitle">Воздвиженка</h3>
        <p class="monuments-text">
          Житловий район побудований у 2000 роках на Кожум'яках. Вулиці
          гончарів і ремесленників.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/хімери.jpg" alt="будинок с хімерами" width="357" height="297" />
          <div class="overlay">
            <img src="/img/хімера2.jpg" width="357" height="297" alt="хімери внутрі">
          </div>
        </div>

        <h3 class="monuments-subtitle">Будинок з хімерами</h3>

        <p class="monuments-text">
          Цегляна будівля. Свою назву отримала завдяки скульптурам тварин.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/миколаєвский костел.jpg" alt="костел св. николая" width="357"
            height="297" />
          <div class="overlay">
            <img src="/img/костел.jpg" width="357" height="297" alt="св. николай собор">
          </div>
        </div>

        <h3 class="monuments-subtitle">Костел Святого Миколая</h3>
        <p class="monuments-text">
          Костел побудованний у 1899-1909 роках архітектором Владиславом
          Городецьким.
        </p>
      </li>

      <li class="monuments-item">
        <div class="box">
          <img class="monuments-picture" src="/img/новий бот сад.jpg" alt="новий ботаніческий сад" width="357"
            height="297" />
          <div class="overlay">
            <img src="/img/2 новий бот сад.jpg" width="357" height="297" alt="сад">
          </div>
        </div>

        <h3 class="monuments-subtitle">Новий ботанічний сад</h3>

        <p class="monuments-text">Місто відпочинку киян.</p>
      </li>
    </ul>
  </div>
</section>