
/*анімаціі  */

@keyframes slide {
  from {
    transform: translateX(-140%) ;
  }
  to {
    transform: translateX(0);
  }
}
/*анімаціі на лого */
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%)  scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%)  scale(1);
  }
}
/*анимація на ьобільное меню*/
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


