/*базові стилі*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(231, 232, 237, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;/*ширина вікна браузера в px*/
  min-height: 100vh;/*висота вікна браузера в px*/
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}


main {

  flex-grow: 1;

}
main:has(.back-link) {
  text-align: center;
}
