/*coordinates*/
.coordinates {
  margin: 0 auto;
  background-color: #b9ea33;
}

.coordinates-power,.coordinates-street,
.coordinates-map  {
  text-align: center;
  color: #180a72;
}

.tumb {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:16px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.map-link {
  border: 3px solid #180a72;
  box-shadow: 6px 6px 16px #180a72, 18px 18px 16px #8df822;
  margin-right: 10px;
  margin-left: 10px;
}
.coordinates-link {
  display: block;
  max-width: 100%;
}
.coordinates-map{
  font-family:sans-serif;
  font-size: 16px;
}
.basicLightbox__placeholder {
  width: 100vw;
  height: 100vh;
  /* background-color: #dbeb2a; */

}

.modal-map {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (min-width: 768px){
  .tumb {
     flex-direction: row;
      gap: 24px;
}
 .map-link {
   display: block;
   width: 100%;
   height: 100%;
    width: calc((100% - 24px) / 2);
  }
  .coordinates-link {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

}
