.footer {
  width: 100%;
  background-color: #8df822;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;

}


/*блок адреса*/
.communicat {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.email {
  display: block;

}
.phone {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  margin: 0;

}
.communicat-phone {
  display: block;
  font-style: normal;
  color: #220661;
  font-weight: 400;
  margin: 0;

}
.footer-phone {
  font-style: normal;
  font-weight: 400;
  color: #220661;
  text-align: center;
}
.communicat-email {
  display: block;
  text-align: center;
  font-style: normal;
  color: #220661;
  font-weight: 400;


}
.footer-address {
  display: block;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  font-style: normal;
  color: #220661;
  text-align: center;
}

/*додаткові посилання*/
.footer-list-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;

}
.footer-item-links {
    color: #220661;
  font-weight: 400;


}

.footer-copyright-paragraph {
      color: #220661;
  font-weight: 400;
 margin: 0 auto;
 padding: 0 12px;
  text-align: center;
}

.footer-notes-paragraph {
    color: #220661;
  font-weight: 400;
 margin: 0 auto;
 padding: 0 12px;
  text-align: center;
}




/*==========tablet===========*/

@media screen and ( min-width: 768px){
  .footer-container{
    display: flex;
  flex-direction: row;
  gap: 16px;
}
.communicat{

}
.phone{
  margin-right: 0;
}
.wrapper-copyright-notes{
  display: flex;
  flex-direction: column;
  gap: 48px;
}


}

@media screen and (max-width: 1200px) {

}