.footer {
  width: 100%;
  background-color: #8df822;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding-top: 16px;

}


/*блок адреса*/
.communicat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.phone {
  flex-direction: column;
  gap: 12px;
  text-align: center;
  margin: 0;

}
.communicat-phone {
  display: block;
  font-style: normal;
  color: #220661;
  font-weight: 400;
  margin: 0;

}
.footer-phone {
  font-style: normal;
  font-weight: 400;
  color: #220661;
  text-align: center;
  padding: 8px 0;
}
.email {
  flex-direction: column;
  align-items:center;
  gap: 8px;
  text-align: left;
  padding-left: 0;
}
.communicat-email {
  display: block;
  text-align: center;
  font-style: normal;
  color: #220661;
  font-weight: 400;
  padding-left:16px;
}
.footer-address {
  display: block;
  font-weight: 400;
  font-style: normal;
  color: #220661;
  text-align: center;
  padding:8px 20px;
}

/*додаткові посилання*/
.footer-list-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-left: 93px;
}
.footer-item-links {
  color: #220661;
  font-weight: 400;
}
.wrapper-copyright-notes{
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}
.footer-copyright-paragraph {
  color: #220661;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
}

.footer-notes-paragraph {
  color: #220661;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
}




/*==========tablet===========*/

@media screen and ( min-width: 768px){
  .footer-container{
    display: flex;
  flex-direction: row;
  gap: 48px;


}
.address-span{
  padding-left: 10px;
  padding-top: 8px;
}
.footer-list-links{
  margin-left: 0;

}
.wrapper-copyright-notes{
  display: flex;
flex-direction: column;
  gap: 78px;
}
.footer-notes-paragraph {

  text-align: center;
}

}

@media screen and (max-width: 1200px) {
  .wrapper-copyright-notes{
      gap: 64px;
      }
   

}