
/*========mobil==========*/
/* хедер */
.pade-heder {
  background-color: #8df822;
  position: fixed;
  z-index: 1000;
   top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.wrapper-general{
  display: flex;
  align-items: center;

}
.heder-nav {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}
.logo {
  font-weight: 100;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 16px;
  text-transform: capitalize;
  border: #434455;
  border-radius: 10px;
  box-shadow: 2px 2px 4px blue, 16px 16px 20px rgb(234, 201, 16);
  cursor: pointer;
}
.logo:hover {
  box-shadow: 2px 2px 4px rgb(73, 73, 137);
}

.wrapper-icon {
  display: flex;
  flex-direction: column;
  gap: 28px;


}
.nav-stroke{
  fill: transparent;
  stroke: #121df5;
  margin-left: auto;
   stroke-width: 3;
}
.header-social{
  display: flex;
  justify-content: flex-end;
  gap:12px;
}
.social-link {
  width: 24px;
  height: 24px;
  background-color: #2135e8;   /* фон */
  border-radius: 50%;          /* коло */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.icon-social{
  fill:#030859;

}
/*навігація*/
.nav-list {
  display: none;
  gap: 24px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  color: #434455;
}
.nav-item {
  display: block;
  font-size: 20px;
}

.link-span {
  color: #3d44c3;
}
.nav-link-item {
  display: block;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  font-style: normal;
  text-shadow: 10px 6px 15px rgb(42, 26, 26);
}
.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #3d44c3;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:focus,
.nav-link:hover {
  color: rgb(235, 8, 8);
}
.nav-link.current {
  position: relative;
}

.nav-link.current::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: blue;
  border-radius: 2px;
}

.contacts {
margin-right: auto;
}
.contacts-list {
  display: none;
  flex-wrap: nowrap;
  gap: 12px;
  font-size: 16px;
  font-style: normal;
  padding-top: 25px;
  color: #14115b;
  padding-right: 50px;
  padding-left: 50px;
  transition: color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.contacts-link {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #030859;
}
.link-span:focus,
.link-span:hover,
.nav-link-item:focus,
.nav-link-item:hover,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current::before {
  color: rgb(255, 0, 0);
}

.button-gat {
  position: fixed;
  bottom: 50px;
  right: 0px;
  display: inline-block;
  width: 72px;
  height: 72px;
  font-size: 10px;
  text-align: center;
  border: 3px solid #14115b;
  border-radius: 50%;
  background-color: #a5ca2a;
  font-weight: 700;
}

/*==========tablet===========*/

@media screen and ( min-width: 768px){
  .heder-nav{
    align-items: center;
  }
  .pade-heder {
  width: 100%;
  left:0;
  top:0;
}
.wrapper-general{
  display: flex;
  align-items: flex-start;

}
.nav-list {
  display: flex;
  gap: 48px;
  padding-right: 0;

}
.nav-item {
  display: block;
  font-size: 20px;
}

.link-span {
  color: #3d44c3;
}
.nav-link-item {
  display: block;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  font-style: normal;
  text-shadow: 10px 6px 15px rgb(42, 26, 26);
}
.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #3d44c3;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:focus,
.nav-link:hover {
  color: rgb(235, 8, 8);
}
.nav-link.current {
  position: relative;
}

.nav-link.current::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: blue;
  border-radius: 2px;
}
.wrapper-contacts{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 0;

}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 25px;
 }
.contacts-link {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #14115b;
}
.link-span:focus,
.link-span:hover,
.nav-link-item:focus,
.nav-link-item:hover,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current::before {
  color: rgb(255, 0, 0);
}
.button-gat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
  width: 72px;
  height: 72px;
  font-size: 10px;
  text-align: center;

  border: 3px solid #14115b;
  border-radius: 50%;
  background-color: #a5ca2a;
  font-weight: 700;
}
.nav-stroke{display: none;}
}
/*========desktop===========*/
@media screen and ( min-width: 1200px){
  .heder-nav {
  display: flex;
  gap: 120px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}
.nav-list {
  gap: 84px;
  padding: 0;
}

}