.container{
  width: 100%;
}
.hero-city {
  position: relative;
  background-color: #b9ea33;
  background-image: linear-gradient(
      to bottom,
      rgba(125, 218, 32, 0.3),
      rgba(83, 119, 59, 0.3)
    ),
    url(/img/kiiv.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position:center top;
  background-size: cover;
  min-height: 500px;


}

.hero-page {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  font-size: 30px;
  color: #180a72;
  font-weight: 700;
  padding-top: 150px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 64px;
  text-align: center;
  transition: transform 300ms ease;
}
/*без позиции расположение- вертикально,
с позіцією горизонтально-розміри,
задаються при горізонтальному розсташуванні*/
/* .title:hover::before {
  position: absolute;
  content: "";
  width: 450px;
  top: 150px;
  border: 5px solid #030859;
  border: 5px solid #fae608;
  cursor: pointer;
} */
.title:hover {
  color: #f9dc1f;
    transform: scale(1.1);
  cursor: pointer;
}

.symbol {
  box-shadow: 15px 5px 90px 40px rgb(219, 227, 67);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
/* .question-form {
  display: none;
}

.question-form--visible {
  display: block;
}
.question-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #14115b;
}

.question-form textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  margin-bottom: 12px;
}

.form-status {
  color: rgb(43, 154, 223);
  margin-top: 8px;
  font-size: 14px;
}
*/

.btn-title {

  border-radius: 8px;
  border-color: #b9ea33;
  background-color: rgb(43, 154, 223);
  color: #14115b;
}

.button-gat {
  position: fixed;
  right: 10px;
  bottom: 10px;

  width: 32px;
  height: 32px;
  border: 2px solid #14115b;
  border-radius: 50%;
  background-color: #a5ca2a;
   z-index: 1000;


}
.arrow {
 display: inline-block;
  width: 24px;
  height: 24px;
}



/*=====tablet========*/
@media screen and (min-width: 768px){
  .title{padding-top: 200px;}
  .button-gat{
  right: 20px;
}
}
/*======desktop========*/
@media screen and ( min-width: 1200px) {

.button-gat{
  right: 40px;
}
}

