  .privacy-policy-main{
    background-color:#b9ea33;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .privacy-policy-title {
      margin: 0;
      font-size: 28px;
      color:#504CAF  ;
    }

    .privacy-policy-subtitle {
      color: #504CAF ;
      margin-top: 30px;
      font-size: 22px;
    }

   .privacy-policy-paragraph{
    font-size: 18px;
    font-weight: 600;
      margin: 12px 0;
      color: #AF504C ;
    }

    .privacy-policy-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items:center;
      margin: 10px 0 20px 20px;
       list-style: none;
    }
    .privacy-policy-item {
      width: 100%;
      max-width: 600px;
      min-height: 60px;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 600;
      color: #504caf;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 6px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }


