
/* .question-form {
  display: none;
} */


.question-form--visible {
  display: block;
}
.question-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #14115b;
}
.form-hint {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.question-form input,
.question-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 6px;
  font-size: 14px;
}

.question-form textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  margin-bottom: 12px;
}

.form-status {
  color: rgb(43, 154, 223);
  margin-top: 8px;
  font-size: 14px;
}



 .modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #b9ea33;
  width: 90%;
  max-width: 600px;
  padding: 24px;
  border-radius: 12px;
  position: relative;
}

.modal textarea {
  width: 100%;
  min-height: 160px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

