/* Форма питання в модалці #question-modal */

.question-form--visible {
  display: block;
}

.question-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #14115b;
}

.form-hint {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.question-form input,
.question-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 6px;
  font-size: 14px;
}

.question-form textarea {
  min-height: 80px;
}

.form-status {
  color: rgb(43, 154, 223);
  margin-top: 8px;
  font-size: 14px;
}

.form-status.error {
  color: red;
  font-weight: 400;
}

.form-status.success {
  color: green;
  font-weight: 700;
}

#question-modal .modal-content {
  max-width: 600px;
  width: 90%;
  padding: 24px;
  background: #b9ea33;
}

#question-modal textarea {
  width: 100%;
  min-height: 160px;
}
